@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");
:root {
  --pink: #ff52bf;
  --pink-hover: #e04ba9;
  --very-pale-cyan: #ebfbff;
  --very-dark-cyan: #00252e;
  --grayish-blue: #808d99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  background-color: var(--very-pale-cyan);
  font-family: "Poppins", sans-serif;
}

header::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/bg-hero-desktop.svg");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.btn {
  padding: 1rem 2.5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.nav-btn {
  background-color: #fff;
  color: #00252e;
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.3);
}

.header-content {
  text-align: center;
  margin: 2rem 4rem;
}

.header-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.header-content p {
  margin-bottom: 3rem;
}

.btn-cta {
  background-color: var(--pink);
  color: #fff;
}

.btn-cta:hover {
  background-color: var(--pink-hover);
  transition: all 0.2s ease-in;
}

.header-image {
  margin-top: 3rem;
}

.header-image img {
  width: 100%;
}

main {
  padding: 2rem 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin-bottom: 10rem;
}

.card {
  border-radius: 10px;
  border: 2px solid rgb(216, 213, 213);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-image img {
  width: 60%;
  height: 100%;
}

.card-text {
  margin: 1.5rem 2.5rem;
}

.card-text p {
  margin-top: 1.6rem;
  color: var(--grayish-blue);
}

.card-started {
  position: absolute;
  left: 50%;
  bottom: -15%;
  min-width: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  transform: translateX(-50%);
  text-align: center;
}

.card-started h1 {
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--very-dark-cyan);
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 10rem 2rem 0;
}

.contact-item {
  display: flex;
  margin-top: 2rem;
}

.contact-info {
  margin-left: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.footer-links a {
  color: var(--grayish-blue);
  text-decoration: none;
  margin-top: 1rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social a {
  color: var(--grayish-blue);
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-right: 0.8rem;
  margin-bottom: 2rem;
  transition: all 0.1s ease-in;
}

.footer-social a:hover {
  color: white;
}

.copyright {
  text-align: center;
}

.attribution {
  color: #fff;
  text-align: center;
  margin-top: 3rem;
}

.attribution a {
  text-decoration: none;
  color: var(--grayish-blue);
}

/* DESKTOP SIZE */
@media (min-width: 768px) {
  header {
    height: 100vh;
  }

  .header-content {
    display: flex;
    margin-top: 0;
  }

  .header-text {
    text-align: left;
    margin-right: 2rem;
    max-width: 32rem;
  }

  .header-image img {
    width: 50%;
    position: absolute;
    top: 22%;
  }

  .card {
    flex-direction: row;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .card:nth-of-type(1),
  .card:nth-of-type(3) {
    flex-direction: row-reverse;
  }

  .card-image img {
    width: 80%;
  }

  .card-started {
    bottom: -20%;
    min-width: 50%;
  }

  .footer {
    padding: 10rem 4rem 2rem;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 3rem;
    align-items: baseline;
  }

  .copyright {
    text-align: right;
  }
}
