@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");
:root {
  --pink: #ff52bf;
  --very-pale-cyan: #ebfbff;
  --very-dark-cyan: #00252e;
  --grayish-blue: #808d99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--very-pale-cyan);
  font-family: "Poppins", sans-serif;
}

header::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/bg-hero-desktop.svg");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.btn {
  padding: 1rem 2.5rem;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.nav-btn {
  background-color: #fff;
  color: #00252e;
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.3);
}

.header-content {
  text-align: center;
  margin: 2rem 4rem;
}

.header-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

.header-content p {
  margin-bottom: 3rem;
}

.btn-cta {
  background-color: var(--pink);
  color: #fff;
}

.header-image {
  margin-top: 3rem;
}

.header-image img {
  width: 100%;
}

main {
  padding: 2rem 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-image img {
  width: 50%;
  height: 100%;
}

.card-text {
  margin: 1.5rem 2.5rem;
}

.card-text p {
  margin-top: 1.6rem;
  color: var(--grayish-blue);
}

.card-started {
  position: absolute;
  left: 20%;
  background-color: var(--very-pale-cyan);
  border-radius: 5px;
  box-shadow: 0px 0px 27px 1px rgba(0, 0, 0, 0.31);
  padding: 2rem 1rem;
}

.footer {
  background-color: var(--very-dark-cyan);
}

.attribution {
  color: #fff;
  text-align: center;
}

.attribution a {
  text-decoration: none;
}
